.createListCard{
    background-color: aqua;
    text-align: center;
}


.createForm{
    border: 1px solid black;
    padding:10px;
}

.createBtn{
    border: 1px solid black;
    margin-left: 20px;
}

.createBtn:hover{
    background-color: yellow;
}

